In [12]:
import pandas as pd
from faker import Faker
import random

# 랜덤 시드 설정
random.seed(240929)
Faker.seed(240929)

# Faker 객체 생성
fake = Faker(locale = 'ko_KR')

data = {
    '성명': [fake.name() for _ in range(1000)],
    '연령': [random.randint(20, 60) for _ in range(1000)],
    '부서명': [random.choice(['연구개발', '영업', '마케팅', '인사', '재무', 'IT']) for _ in range(1000)],
    '입사일자' : [fake.date_between(start_date = '-10y', end_date = 'today') for _ in range(1000)],
    '급여' : [random.randint(2000, 5000) * 10000 for _ in range(1000)],
    '이메일' : [fake.email() for _ in range(1000)],
    '본가주소' : [fake.address() for _ in range(1000)],
    '전화번호' : [fake.phone_number() for _ in range(1000)],
    '핸드폰' : [fake.phone_number() for _ in range(1000)],
    '직위' : [random.choice(['사원', '대리', '과장', '차장', '부장', '이사', '대표이사']) for _ in range(1000)],
    '성별' : [random.choice(['남', '여']) for _ in range(1000)],
    '학력' : [random.choice(['고졸', '전문대졸', '대졸', '석사', '박사']) for _ in range(1000)],
    '경력' : [random.randint(0, 20) for _ in range(1000)],
    '혼인여부' : [random.choice(['Y', 'N']) for _ in range(1000)],
    '자녀수' : [random.randint(0, 5) for _ in range(1000)],
    '외국어' : [random.choice(['영어', '일본어', '중국어', '프랑스어', '독일어', '러시아어', '스페인어', '아랍어', '기타']) for _ in range(1000)],
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# 결과 확인
df

,성명,연령,부서명,입사일자,급여,이메일,주소,전화번호,핸드폰,직위,성별,학력,경력,혼인여부,자녀수,외국어
0,이예은,53,IT,2019-12-18,40580000,jeongung39@example.net,강원도 양양군 논현819거리 지하17,031-172-1139,017-419-5779,차장,여,석사,3,Y,4,스페인어
1,엄우진,45,영업,2015-12-07,25220000,qgim@example.com,광주광역시 구로구 서초대거리 235-18 (영순김리),032-132-9685,02-9246-0498,이사,남,석사,7,N,1,기타
2,장서준,38,IT,2018-04-28,46310000,yryu@example.com,부산광역시 동대문구 가락길 385 (진호김허마을),033-916-6205,061-815-4137,과장,남,대졸,2,Y,3,중국어
3,이채원,50,인사,2016-10-04,32370000,jihungim@example.org,경상남도 청양군 선릉7로 434 (민수김고마을),041-958-4143,042-976-3476,대표이사,여,전문대졸,7,N,3,일본어
4,최승민,27,IT,2016-01-27,27830000,mi@example.com,인천광역시 광진구 봉은사46로 268 (아름곽이면),063-044-8545,011-543-2455,이사,남,석사,12,Y,4,기타
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,신영길,58,연구개발,2024-02-19,41640000,donghyeonhan@example.net,강원도 원주시 석촌호수가 지하915 (서윤김강읍),042-042-7992,019-315-6722,과장,여,전문대졸,8,N,0,아랍어
996,이경숙,51,영업,2016-02-22,47020000,kjo@example.net,경기도 정선군 백제고분43길 190-55,010-1652-3079,042-039-1225,이사,남,박사,3,N,5,스페인어
997,허은영,52,IT,2023-04-08,45190000,seojungim@example.org,대구광역시 구로구 압구정로 874-33 (시우이마을),016-399-8498,031-594-4140,대표이사,남,석사,18,N,1,독일어
998,남경자,22,IT,2016-08-04,29070000,eunji31@example.net,부산광역시 동대문구 반포대길 716,063-514-2078,016-186-6571,대표이사,여,대졸,14,Y,5,스페인어
999,김미숙,32,마케팅,2015-09-18,23200000,seunghyeoncoe@example.com,충청남도 고양시 일산서구 역삼길 767,055-949-2737,054-098-2456,대리,여,전문대졸,12,Y,0,기타